.obstacle {
  /* border: 2px solid #fff; */
  position: absolute;
  width: 30px;
  height: 30px;
}

.obstacle-1 {
  background-color: red;
}
.obstacle-2 {
  background-color: green;
}
.obstacle-3 {
  background-color: black;
}
