.obstacle {
  /* border: 2px solid #fff; */
  position: absolute;
  width: 30px;
  height: 30px;
}

.obstacle-1 {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid red;
}
.obstacle-2 {
  background-color: green;
}
.obstacle-3 {
  background-color: black;
}
